@model dynamic

<h2 class="ms-font-l ms-fontColor-themePrimary">AJAX Api Calls from RemoteWeb</h2>

<h3 class="ms-font-m ms-fontColor-themePrimary"><pre>/api/demo/all</pre></h3>
<div id="all" class="ms-font-m ms-fontColor-themeDark"></div>
<h3 class="ms-font-m ms-fontColor-themePrimary"><pre>/api/demo/{item}</pre></h3>
<div id="item" class="ms-font-m ms-fontColor-themeDark"></div>


<h3 class="ms-font-m ms-fontColor-themePrimary"><pre>/api/sharepoint/hostwebuser</pre></h3>
<div id="hostwebuser" class="ms-font-m ms-fontColor-themeDark"></div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            WsFederationPoc.Page.init({
                remoteAppUrl: "@ViewBag.RemoteAppUrl",
                SPHostUrl: WsFederationPoc.Page.getQueryParameter(window.location.search, "SPHostUrl"),
                SPLanguage: WsFederationPoc.Page.getQueryParameter(window.location.search, "SPLanguage"),
                SPClientTag: WsFederationPoc.Page.getQueryParameter(window.location.search, "SPClientTag"),
                SPProductNumber: WsFederationPoc.Page.getQueryParameter(window.location.search, "SPProductNumber")
            });
        });
    </script>
}
