@model dynamic
@{
    ViewBag.Current = "Setup";
}
<h2 class="ms-font-xl ms-fontColor-themePrimary">
    Install Result</h2>

    <h3 class="ms-font-l ms-fontColor-themePrimary">JavaScript injected successfully to HostWeb <a href="@ViewBag.SharePointWebUrl">@ViewBag.SharePointWeb</a></h3>
